test yiyu util package

In [6]:
import pandas as pd
from yiyuUtil.pandas_base import clean

In [7]:
df = pd.DataFrame({'letters':['a','a','c'], 'numbers':[1,None,3]})
df
df_return = clean.remove_nan(df)
df_return

  letters  numbers
0       a      1.0
1       c      3.0

In [12]:
from yiyuUtil.pandas_base import conversion

df = pd.DataFrame({'letters':['a','b','c'],'letters2':['c','d','a'],'numbers':[1,2,3]})
df_numeric = conversion.convert_related_cols_categorical_to_numeric(df, col_list=['letters','letters2'])
print(df_numeric)

   letters  letters2  numbers
0        0         2        1
1        1         3        2
2        2         0        3

In [45]:
import numpy as np
from yiyuUtil.pandas_base import value_selection

df = pd.DataFrame({'letters':['a','a','c'], 'numbers':[1,2,3]})
df_return = value_selection.select_values_by_index(df, vector_row_pos=[0,2], vector_col_pos=[0,1])
df_return

  letters  numbers
0       a        1
2       c        3